.swiper{
    --swiper-theme-color: rgb(255, 255, 255);
}

.swiper-button-prev,.swiper-button-next{
    visibility: visible;
}

.carousel {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    padding-top: 80px;
    padding-bottom: 70px;
    background-color: #080808;

    }

    .swiper-cont {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        }
    
    .results {
        color: white;
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        font-family: "Space Grotesk", sans-serif;
        font-size: 2rem;
        text-align: center;
        }

@media screen and (max-width: 1300px) {
    .carousel {
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: center;
        -ms-flex-line-pack: center;
        align-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        }

    .swiper-cont {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: center;
        -ms-flex-item-align: center;
        align-self: center;
        padding-top: 80px;
        padding-bottom: 20px;
    }

    .results {
        -webkit-order: 0;
        -ms-flex-order: 0;
        order: 0;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        -webkit-align-self: auto;
        -ms-flex-item-align: auto;
        align-self: auto;
        padding-top: 50px;
        font-size: 2.5rem;
    }

    .swiper-button-prev,.swiper-button-next{
        visibility: hidden;
    }
  }
  
  @media screen and (min-width: 1601px) and (max-width: 1799px)  {
    .swiper-initialized {

        width: 600px !important;
        height: 550px !important;
    }
    .results {
        font-size: 2.2rem;
    }
  }
  
  @media screen and (min-width: 1800px) and (max-width: 2199px)  {
    .swiper-initialized {

        width: 600px !important;
        height: 550px !important;
    }
    .results {
        font-size: 2.4rem;
    }
  }

  @media screen and (min-width: 2200px) and (max-width: 2800px) {

    .swiper-initialized {

        width: 650px !important;
        height: 600px !important;
    }

    .results {
        font-size: 2.8rem;
    }
  }

  @media screen and (min-width: 2801px) and (max-width: 3200px) {

    .swiper-initialized {

        width: 650px !important;
        height: 600px !important;
    }

    .results {
        font-size: 3rem;
    }
  }

  @media screen and (min-width: 3201px) {

    .results {
        font-size: 4rem;
    }
  }

  @media screen and (min-width: 0px) and (max-width: 350px) {

    .swiper-initialized {

        width: 200px !important;
        height: 150px !important;
    }

    .results {
        font-size: 1.2rem;
    }
  }

  @media screen and (min-width: 351px) and (max-width: 500px) {

    .swiper-initialized {

        width: 300px !important;
        height: 250px !important;
    }
    .results {
        font-size: 1.2rem;
    }
  }

  @media screen and (min-width: 501px) and (max-width: 700px) {

    .swiper-initialized {

        width: 400px !important;
        height: 350px !important;
    }
    .results {
        font-size: 1.5rem;
    }
  }

  @media screen and (min-width: 701px) and (max-width: 900px) {

    .swiper-initialized {

        width: 500px !important;
        height: 450px !important;
    }
    .results {
        font-size: 2rem;
    }
  }

  @media screen and (min-width: 901px) and (max-width: 1100px) {

    .swiper-initialized {

        width: 600px !important;
        height: 550px !important;
    }
    .results {
        font-size: 2rem;
    }
  }

  @media screen and (min-width: 1101px) and (max-width: 1300px) {

    .swiper-initialized {

        width: 700px !important;
        height: 650px !important;
    }
    .results {
        font-size: 2rem;
    }
  }

  @media screen and (min-width: 1301px) and (max-width: 1500px) {

    .swiper-initialized {

        width: 550px !important;
        height: 500px !important;
    }
    .results {
        font-size: 2rem;
    }
  }

  @media screen and (min-width: 1501px) and (max-width: 1600px) {

    .swiper-initialized {

        width: 600px !important;
        height: 550px !important;
    }
    .results {
        font-size: 2.2rem;
    }
  }